h1 {
  @apply text-5xl font-bold;
}

h2 {
  @apply text-3xl font-bold;
}

h3 {
  @apply text-xl font-bold;
}

.tiptap p.is-editor-empty:first-child::before {
  color: #adb5bd;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

.tiptap p.is-empty::before {
  color: #adb5bd;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}